.notice グループが作成されました
.contents
  .sidebar
    .sidebar__top
      %h1.sidebar__top__name
        = current_user.name
      %ul.lists
        %li.list
          = link_to new_group_path do
            = fa_icon 'pencil-square-o', class: 'icon'
        %li.list
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog', class: 'icon'
            %br
    .sidebar__bottom
      = render "groups/group"
  .chatbar
    .chatbar__top
      .chatbar__top__left
        .chatbar__top__left__name
          SampleGroup
        .chatbar__top__left__member
          Member:SampleUser
      .chatbar__top__right
        %button 
          Edit
    .chatbar__main
      = render "messages/message"
    .chatbar__bottom
      %input{type: "text", placeholder: "type a message", class: "chatbar__bottom__textfield"}
        
        %i.fa.fa-picture-o
        %input{type: "submit", value: "send", class: "chatbar__bottom__send"}
